body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    padding: 20px;
    height: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    margin-top: 8px;
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background-color: #90ab14;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    
    background-color: #738a0b;
}

input:focus {
    outline: none;
  }

.span-required{
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: #e63636;
    display: none;
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}